
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        	
    
      </div>
      
</div>



<div class="container"> 
	<div class="row"> 
			<br><br><br>
			<h1>Animals!</h1>
			<hr>
			<div class="span4">
			<div class="well">

				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>
				<% @farm.animals.each do |animal| %>
					<p>The <%= animal.name %> says <%= animal.noise %>
				<%end%>



			</div>
			</div>

		
	</div>
</div>
