
<div class="row">
  <div class="col-md-4">

  	 <h2>Sign in</h2>

	

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(
		resource_name), :defaults => { :input_html => { :class => "form-control" } }) do |f| %>
		<%= f.error_notification %>
  

	 <%= f.input :email %>
	 <%= f.input :password %>
	 <%= f.input :remember_me, as: :boolean %>

	 <br>
	 <div class="form-actions"><%= f.submit "Sign in", class: "btn btn-primary" %></div>
	<% end %>
	<br>
	<%= render "devise/shared/links" %>

</div>
  
  <div class="col-md-8"></div>
  </div>


