<title>Shared Todo App </title>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
</div>
</div>
</div>

<div class="container"> 
	<div class="row"> 
		<div class="span4">

      		<h1>Shared Todo App</h1>
      
			<hr>

      		<p>All your todos here</p>

      		<%= form_tag("/todos/add", :method=>"post") do %> 
      		<%= text_field_tag(:todo_text) %> 
      		<%= submit_tag("Add todo", :class=>"btn") %> 
      		<% end %>

    
      
			<div class="well">

        		<% @items.each do |t| %>
         		<li> <%= t.todo_item %> </li>
        		<% end %>
      
			</div> <!-- well --> 
			
		</div> <!-- span4 --> 
		<%= link_to "Delete last todo", delete_path %>
	</div> <!-- row -->

</div> <!-- container -->
